@import "vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $mainFont;
  font-size: $fontSize;
}

body {
  background-color: $lightGray;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    background-color: $white;
    width: 20rem;
    height: 30rem;
    border-radius: 1.5rem;
    box-shadow: 1px 1px 20px hsl(212, 31%, 82%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;

    .imgWrapper {
      display: flex;
      justify-content: center;
      img {
        width: 90%;
        border-radius: 0.5rem;
        margin: 1rem;
      }
    }
    .textWrapper {
      width: 85%;
      text-align: center;
      h1 {
        font-size: calc($fontSize * 1.3);
        font-weight: 700;
        color: $darkBlue;
      }
      p {
        font-size: $fontSize;
        color: $grayishBlue;
        margin-top: 1rem;
      }
    }
  }
  .attribution {
    margin: 1rem;
    font-size: 1rem;
    text-align: center;

    a {
      text-decoration: none;
      color: $darkBlue;
    }
  }
}
